/* Global*/
:root{
    --primary: #395391;
    --primary-dark: #203b84;

    --background:#F8FAFC;
    --surface:#FFFFFF;

    --text:#0F172A;
    --text-light:#64748B;

    --border:#E2E8F0;

    --success:#092b15;
    --warning:#D97706;
    --danger:#DC2626;

    --shadow:0 10px 30px rgba(15,23,42,.08);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

/*html*/

html{
    scroll-behavior: smooth;
}
/*body*/
body{
    font-family:"Inter",sans-serif;
    background:#F8FAFC;
    color:#1F2937;
    line-height:1.6;

}
/*links*/
a{
    text-decoration: none;
    color: inherit;
}

/*img*/
img{
    display:block;
    max-width: 100px;
}
/* list*/
ul{
    list-style:none;

}

/*Container*/
.container{
    width:min(95%, 1400px);
    margin:0 auto;
}

/*Navigation*/

/*navbar*/
.navbar{
    position:sticky;
    top:0;

    width:100%;

    background:rgba(255,255,255,.95);
    backdrop-filter:blur(12px);

    border-bottom:1px solid var(--border);

    z-index:1000;
    
}
/*container*/
.navbar .container{
    height:82px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}
/*logo*/
.logo{
    display:flex;
    align-items:center;
    gap:14px;
}
/*logo-icon*/
.logo-icon{

    width:42px;
    height:42px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:12px;

    background:linear-gradient(
        135deg,
        #395391,
        #203b84
    );

    color:white;

    box-shadow:
        0 10px 25px rgba(37,99,235,.25);

    transition:.3s ease;
}

.logo-icon i{
    font-size:18px;
    transition: 3s ease;
}

.logo:hover .logo-icon{

    transform:rotate(-5deg) scale(1.05);

}

/*logo-text*/
.logo-text h2{

    font-size:18px;

    font-weight:700;

    color:var(--text);

    line-height:1.2;

    letter-spacing:-0.4px;

}

.logo-text span{

    display:block;

    margin-top:3px;

    font-size:11px;

    font-weight:500;

    color:var(--text-light);

    letter-spacing:.5px;

    text-transform:uppercase;

}

/*nav-links*/
.nav-links{

    display:flex;

    align-items:center;

    gap:36px;
}
.nav-links a{

    position:relative;

    font-size:15px;

    font-weight:500;

    color:var(--text-light);

    transition:.3s ease;
}
.nav-links a:hover{
    color:var(--primary);
}
.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:var(--primary);

    transition:.3s ease;
}

.nav-links a:hover::after{
    width:100%;
}

/*nav-button*/
.nav-button{
    display:inline-flex;
    align-items:center;
    justify-content:center;

    min-width:170px;
    height:46px;

    border-radius:10px;

    background:var(--primary);
    color:white;

    font-size:14px;
    font-weight:600;

    transition:.3s ease;
}
.nav-button:hover{

    background:var(--primary-dark);

    transform:translateY(-2px);

    box-shadow:0 12px 28px rgba(37,99,235,.25);
}

/*Hero Section*/
/*hero*/

.hero{
    padding:90px 0 100px;
}
/*hero-content*/
.hero-content{

    display:grid;

    grid-template-columns:1.1fr .9fr;

    align-items:center;

    gap:70px;

}
/*hero-left*/
.hero-left{

    display:flex;

    flex-direction:column;

    align-items:flex-start;

}
.hero-left h1{

    font-size:60px;

    font-weight:800;

    line-height:1.05;

    letter-spacing:-2px;

    color:var(--text);

    margin-bottom:24px;

    max-width:650px;

}
.hero-left p{

    max-width:600px;

    font-size:18px;

    color:var(--text-light);

    line-height:1.8;

    margin-bottom:40px;

}
/*tag*/
.tag{

    display:inline-flex;

    align-items:center;

    padding:6px 14px;

    border-radius:999px;

    background:#DBEAFE;

    color:var(--primary);

    font-size:14px;

    font-weight:600;

    margin-bottom:20px;

}
/*hero-buttons*/
.hero-buttons{

    display:flex;

    align-items:center;

    gap:18px;

    margin-bottom:45px;

}
/*primary-btn*/
.primary-btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    height:52px;

    padding:0 30px;

    border-radius:12px;

    background:var(--primary);

    color:white;

    font-size:15px;

    font-weight:600;

    transition:.3s ease;

    box-shadow:0 12px 25px rgba(37,99,235,.25);

}
.primary-btn:hover{

    background:var(--primary-dark);

    transform:translateY(-3px);

    box-shadow:0 16px 35px rgba(37,99,235,.25);

}
/*hero-highlights*/
.hero-highlights{

    display:flex;

    flex-wrap:wrap;

    gap:18px;

}
.hero-highlights div{

    display:flex;

    align-items:center;

    gap:10px;

    color:var(--text-light);

    font-size:15px;

    font-weight:500;

}
.hero-highlights i{

    color:var(--success);

    font-size:16px;

}

/* Dashboard Section*/
/*hero-right*/
.hero-right{
    display:flex;
    justify-content:center;
    align-items:center;
}
/*dashboard-card*/
.dashboard-card{

    width:100%;
    max-width:520px;

    background:#ffffff;

    border:1px solid var(--border);

    border-radius:54px;

    padding:32px;

    box-shadow:
        0 20px 45px rgba(15,23,42,.08);

    transition:.3s ease;

}

.dashboard-card:hover{

    transform:translateY(-6px);

    box-shadow:
        0 30px 60px rgba(15,23,42,.12);

}
/*dashboard-header*/
.dashboard-header{

    display:flex;

    justify-content:space-between;

    align-items:center;
    gap:20px;

    margin-bottom:30px;

}
.dashboard-header h3{
    flex:1;

    font-size:16px;

    font-weight:700;

    color:var(--text);

}
/*status-badge*/
.status-badge{
    flex-shrink:0;

    padding:6px 14px;

    border-radius:999px;

    background:#ECFDF5;

    color:#092b15;

    font-size:13px;

    font-weight:600;

}
/*score-section*/
.score-section{
    text-align:center;
    margin-bottom:32px;
}
.score-section h1{
    font-size:64px;
    font-weight:800;
    line-height:1;
    color:var(--text);
    letter-spacing:-2px;
    margin-bottom:10px;
}
.score-section p{
    font-size:15px;
    color:var(--text-light);
    font-weight:500;
}
.score-section span{
    display:block;
    margin-bottom:8px;
    font-size:14px;
    color:var(--text-light);
}


/*summary*/
.summary-list{

    margin:35px 0;

    border-top:1px solid var(--border);

    border-bottom:1px solid var(--border);

}
.summary-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 0;

    border-bottom:1px solid #EEF2F7;

}

.summary-item:last-child{

    border-bottom:none;

}
.summary-item span{

    color:var(--text-light);

    font-size:15px;

    font-weight:500;

}
.summary-item strong{

    font-size:17px;

    font-weight:700;

    color:var(--text);

}

.success{

    background:#ECFDF5;

    color:#15803D;

    padding:6px 14px;

    border-radius:999px;

    font-size:13px;

}

.primary{

    background:#EFF6FF;

    color:var(--primary);

    padding:6px 14px;

    border-radius:999px;

    font-size:13px;

}

/*progress-group*/
/*progress-item*/
.progress-item{

    display:flex;

    flex-direction:column;

    gap:10px;

}
/*progress-label*/
.progress-label{

    display:flex;

    justify-content:space-between;

    align-items:center;

    font-size:14px;

    color:var(--text-light);

    font-weight:500;

}
/*progress-bar*/
.progress-bar{

    width:100%;

    height:10px;

    background:#E5EAF2;

    border-radius:999px;

    overflow:hidden;

}
.progress{

    height:100%;

    border-radius:999px;

}
.blue{
    background:#203b84;
}

.green{
    background:#395391;
}

.teal{
    background:#092b15;
}


.progress{

    transition:width 1s ease;
}
.progress{

    transition:width 1s ease;
}
/*progress*/

/*Footer Section*/

/*footer*/
.footer{

    margin-top:100px;

    background:#ffffff;

    border-top:1px solid var(--border);

}


/*footer-content*/
.footer-content{

    padding:50px 0 35px;
}
.footer-brand{

    text-align:center;

    max-width:650px;

    margin:0 auto;

}
.footer-brand h3{

    font-size:24px;

    font-weight:700;

    color:var(--text);

    margin-bottom:15px;

}
.footer-brand p{

    color:var(--text-light);

    line-height:1.8;

    font-size:16px;

}
.footer-divider{

    width:100%;

    height:1px;

    background:var(--border);

    margin:40px 0 25px;

}
.footer-bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:15px;

}
.footer-bottom p{

    color:var(--text-light);

    font-size:14px;

}


/* Colors used*/
/*Primary Blue      #2563EB
Dark Navy         #0F172A
Text              #334155
Secondary Text    #64748B
Border            #E2E8F0
Background        #F8FAFC
Card              #FFFFFF
Success           #16A34A
Warning           #D97706
Danger            #DC2626*/

