/*container*/
.container{

    width:min(100% - 2rem,var(--container-width));

    margin-inline:auto;

}
/* section */
.section{

    padding:80px 0;

}
/* flex*/
.flex{

    display:flex;

}

.flex-center{

    display:flex;

    align-items:center;

    justify-content:center;

}