<div class="question-card card">
    <!--step indicator-->
    <div class="question-step">
        <span class= "step-number">
            Step {{step}} of {{total_steps}}

        </span>

    </div> 

    <!--SEction Title-->
    <div class="question-header">
        <h2> {{ title }}</h2>
        <p> {{description}} </P>


    </div>

    <!--question-->
    <div class="question-body">
        <label for= "{{field.id}}">
            {{ field.label}}
            {% if field.required %}
                <span class="required">*</span>
            {% endif %}


        </label>

        <div class="input-group">
            {% if field.prefix %}
                <span class="input-prefix">
                    {{ field.prefix  }}
                </span>
            {% endif %}

            <input 
                type="{{ field.type }}"
                id="{{ field.id }}"
                name="{{ field.name }}"
                placeholder="{{ field.placeholder }}"
                value="{{ field.value }}"
                {% if field.required %}
                required
                {% endif %}
            
            >
            

        </div>

        {% if field.helper %}
        <small class="helpert-text">
            {{ field.helper }}

        </small>

        {% endif %}


    </div>


</div>